@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ctx-menu-background: #291a3b;
	--ctx-menu-border: 1px solid #140e0e;
	--ctx-menu-border-radius: 0.5rem;
	--ctx-menu-hover-bg: #20152e;
	--ctx-menu-font-size: 0.9rem;
	--ctx-menu-padding: 0.375rem 0.5rem;
}

body {
	background-color: #251820;
	color: #f3ddfa;

	font-family: 'Inconsolata', monospace;
}

/* vertical scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #3a2b34;
}

::-webkit-scrollbar-thumb {
	background: #67586b;
}

::-webkit-scrollbar-thumb:hover {
	background: #f3ddfa;
}
